* {
    box-sizing: border-box;
}

/* || PAGE DEFAULTS || */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #777;
    background-color:silver;
    background-size:100px 50px;
}

/* Parent Container Class */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}

h2, h3 {
    font-size: 22px;
}

/* || HEADER || */

#header {
    position: fixed;
    /* Keep Header on Top */
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

/* || NAVBAR || */

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

/* Navigation Page Links */

nav {
    float: right;
    margin-top: 30px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

nav a:first-child {
    border-left: 0 none;
}

/* || MAIN CONTENT || */

#main-container {
    padding-top: 130px;
}

.main-section {
    float: none;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #ddd;
    overflow: auto;
    /* Max width 768px per image examples given */
    max-width: 768px;
}

/* Profile Picture */

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    /* Make into a circle */
    border-radius: 50%;
}

/* || PORTFOLIO PAGE || */

/* Project Containers */

.work {
    position: relative;
    float: left;
    /* 289px is max width for project images to take up container at 980px  with 3 colums*/
    /* 225px is max width for project images to take up container at 768px  with 3 colums*/
    /* 294px is max width for project images to take up container at 768px  with 2 colums*/
    max-width: 294px;
    margin: 0px 30px 15px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 5px;
}

/* Porfolio Images */

.work img {
    /* Image will always fill class="work" container */
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work a {
    display: block;
}

/* Project Titles */

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

/* || CONTACT PAGE || */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label, input[type=text], input[type=email], textarea {
    display: block;
    width: 100%;
}

input[type=text], input[type=email], textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}

/* || SOCIAL MEDIA || */

.socialbar {
    float: none;
    padding: 30px;
    /* Space between social and footer */
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
    /* Max width 768px to match content container */
    max-width: 768px;
}

/* Socialbar h2 */

h3, .socialbar h2 {
    /* Social Media Header to <hr> spacing */
    padding-bottom: 0px;
    margin-bottom: 15px;
    line-height: 10px;
    border-bottom: 2px solid #eee;
}

.social {
    /* Makes all images the same size */
    width: 60px;
    height: 60px;
    margin-top: 8px;
    margin-right: 5px;
    /* Makes icons into a circle */
    border-radius: 50%;
}

/* Social <hr> Line */
#socialline {
    border: 1px solid #4aaaa5;
}

/* || FOOTER || */

footer {
    padding: 30px 0;
    /* Clear Floats to keep footer at bottom */
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
}

/* || MEDIA SIZE CONTAINERS || */

@media screen and (max-width: 980px) {
    /* NAVBAR CONTAINER */
    #container {
        width: 100%;
    }
    /* CONTENT CONTAINER */
    .main-section {
        width: 100%;
    }
    /* SOCIAL MEDIA CONTAINER */
    .socialbar {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #container {
        width: 100%;
    }
    .work{
        max-width: 40%;
        width: 100%;
    }
    .main-section {
        width: 100%;
    }
    .socialbar {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    #header {
        position: static;
    }
    #logo {
        width: 100%;
    }
    /* Move Navigation under logo */
    nav {
        float: left;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        /* Center links on small screens */
        justify-content: center;
    }
    .work{
        max-width: 90%;
        width: 100%;
    }
    #main-container {
        /* Fix for padding on small screens */
        padding-top: 10px;
    }
    #container {
        width: 100%;
    }
    .main-section {
        width: 100%;
    }
    .socialbar {
        width: 100%;
    }
}